## Задание 1

Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [76]:
import pandas as pd
log=pd.read_csv(r'C:\Users\Natasha\Downloads\Python_12_pivot_and_str\visit_log.csv',sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [77]:
log['source_type'] = log['traffic_source']
log.loc[(log.traffic_source =='yandex')|(log.traffic_source =='google'), 'source_type']='organic'  
log.loc[(log.region=='Russia')&(log.traffic_source =='paid')|(log.traffic_source =='email'), 'source_type']='ad'
log.loc[(log.region!='Russia')&(log.traffic_source =='paid')|(log.traffic_source =='email'), 'source_type']='other'
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

# Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [90]:
import pandas as pd
urls=pd.read_csv(r'C:\Users\Natasha\Downloads\Python_12_pivot_and_str\urls.txt')
urls.head(10)

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...
8                                          /science/
9                                            /sport/

In [97]:
urls.loc[urls['url'].str.contains('/[0-9]{8}-')].head(100)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

# Задание 3

In [139]:
#я не смогла установить mystem (качала тут: https://yandex.ru/dev/mystem/ версию для Windows)
#поэтому пришлось делать на nltk
#pip install nltk

In [111]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Natasha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [140]:
#взяла рандомные тексты
text = 'Over the hills and far away Teletubbies came to play. Tinkywinky. Tinkywinky! Dipsy. Dipsy! Laalaa. Laalaa! Po. Po! Where have the teletubbies gone?'
#text = 'Akbar glanced at his courtiers. As he looked, one by one the heads began to hang low in search of an answer. It was at this moment that Birbal entered the courtyard. Birbal who knew the nature of the emperor quickly grasped the situation and asked, "May I know the question so that I can try for an answer'
#text='flowers dances weathers doggy teeth feet'

In [141]:
lemmatizer = WordNetLemmatizer()

In [143]:
word_list=nltk.word_tokenize(text, language="english")
#word_list

In [144]:
#в тексте 1 не распознал слово teletubbies, не поменял gone и came в начальную форму глагола
#если совсем простые проимеры брать,  то работает. 
lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in word_list])
print(lemmatized_output)

Over the hill and far away Teletubbies came to play . Tinkywinky . Tinkywinky ! Dipsy . Dipsy ! Laalaa . Laalaa ! Po . Po ! Where have the teletubbies gone ?